---
# tasks file for common
- name: Set timezones
  ansible.builtin.timezone:
    name: "{{ timezone_name }}"
    
- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ hostname }}"

- name: update apt-cache
  apt:
    update_cache: yes
  become: yes

- name: install packages
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - "{{ packages }}"
  become: yes

- block:
  - name: create users for management of the system
    user:
      name: "{{ item }}"
      state: present
      shell: /bin/bash
      groups: sudo
      append: yes
    loop:
      - "{{ manager_users }}"

  - name: fuck sudo passwd required"
    copy:
      dest: /etc/sudoers.d/user
      content: "%sudo ALL=(ALL:ALL) NOPASSWD: ALL"
      mode: '0440'
  become: yes


- block:
  - name: create a swap file
    shell: fallocate -l {{ swap_size }} /swapfile
    args: 
      creates: /swapfile
    
  - name: set the correct permissions
    file:
      path: "{{ swappath }}{{ swapfile }}"
      owner: root
      group: root
      mode: '0600'
    
  - name: make the file a swap file
    shell: mkswap "{{ swappath }}{{ swapfile }}"
    when: ansible_facts.swapfree_mb == 0

  - name:  enable the swap file
    shell: "{{ swappath }}{{ swapfile }}"
    when: ansible_facts.swapfree_mb == 0

  - name: add swap file to fstab
    mount:
      name: none
      src: "{{ swappath }}{{ swapfile }}"
      fstype: swap
      opts: sw
      passno: 0
      dump: 0
      state: present
